* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Urbanist", sans-serif;
  background-color: rgba(240, 233, 225, 1);
}

/* navbar section */

.container {
  max-width: 1536px;
  margin: 0 auto;
  @media (max-width: 1536px) {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  @media (max-width: 768px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  margin-top: 1rem;
  margin-inline: auto;

  h2 {
    font-size: 32px;
    font-weight: 800;
    line-height: 28px;

    @media (max-width: 1100px) {
      font-size: 26px;
      font-weight: 600;
      line-height: 24px;
    }
    @media (max-width: 520px) {
      font-size: 18px;
      font-weight: 500;
    }
  }

  p {
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    @media (max-width: 900px) {
      display: none;
    }
  }

  button {
    color: white;
    background-color: rgba(20, 23, 34, 1);
    font-family: Urbanist;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;

    width: 135px;
    height: 37px;
    border-radius: 40px;

    @media (max-width: 455px) {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;

      width: 100px;
      height: 24px;
    }
  }
}

.first-div {
  display: flex;
  justify-content: space-between;
  width: 260px;
  align-items: center;

  @media (max-width: 1100px) {
    width: 220px;
  }
  @media (max-width: 670px) {
    justify-content: start;
  }
}

.second-div {
  width: 720px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1320px) {
    width: 650px;
  }
  @media (max-width: 1150px) {
    width: 600px;
  }
  @media (max-width: 1050px) {
    width: 450px;
  }
  @media (max-width: 900px) {
    justify-content: end;
  }
}

/* hero section */

hr {
  border-top: 1px dashed;
}

.hero-bg {
  width: 718.33px;
  height: 570.47px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./gallary/heroBg.png);
  min-height: calc(100vh - 99px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 750px;

  @media (max-width: 1150px) {
    background-size: 70%;
  }

  @media (max-width: 1000px) {
    background-size: 60%;
  }

  @media (max-width: 750px) {
    background-size: 50%;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 28px;
    font-weight: 600;

    color: white;
    text-transform: capitalize;
    background-color: rgba(20, 23, 34, 1);
    box-shadow: 0px 4.430853366851807px 4.430853366851807px 0px
      rgba(0, 0, 0, 0.25);

    cursor: pointer;
    width: 208px;
    height: 58px;
    border-radius: 56.63px;
  }
}

.scroll-img {
  position: absolute;
  left: 0;
  bottom: 8%;
}

.hero-text {
  h1 {
    color: rgba(20, 23, 34, 1);
    font-size: 305px;
    font-weight: 900;
    line-height: 250px;

    @media (max-width: 1150px) {
      font-size: 250px;
      line-height: 200px;
    }

    @media (max-width: 900px) {
      font-size: 180px;
      line-height: 180px;
      font-weight: 800;
      margin-top: 3rem;
    }

    @media (max-width: 750px) {
      margin-top: 4rem;
      font-size: 150px;
      line-height: 120px;
      font-weight: 700;
    }

    span {
      color: transparent;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: white;
    }
  }

  h4 {
    text-align: right;
    color: rgba(20, 23, 34, 1);
    font-size: 77px;
    font-weight: 800;
  }
}

/* hero section */

.about-wrapper {
  margin-bottom: 4rem;
  margin-top: 4rem;
  h2 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: 700;
    text-transform: capitalize;
  }
}

.about-main {
  background-image: url(./gallary/3d\ animation.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 350px;
}

.about-flex {
  margin-top: 3rem;
  border-radius: 20px;
  border: 1px solid;
  border-color: rgba(126, 126, 126, 1);
  padding: 8px 2rem;

  display: flex;
  justify-content: left;
  align-items: center;

  @media (max-width: 1160px) {
    flex-direction: column;
  }
}

.about-text {
  width: 840px;
  display: flex;
  padding-left: 4rem;

  @media (max-width: 1150px) {
    width: 100%;
    padding-left: 2rem;
  }

  @media (max-width: 600px) {
    padding-left: 1rem;
  }

  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;

    padding-left: 2rem;
  }
}

.hr-div {
  img {
    width: 100%;
  }
}

/* stake section */

.stake-h2 {
  margin-block: 5rem;
  h2 {
    font-size: 70px;
    font-weight: 700;
    line-height: 28px;
    margin-inline: auto;

    display: flex;
    justify-content: center;
    text-transform: capitalize;
    margin: 2rem 0;
  }
}

.stake-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.stake-one {
  border: 1px solid #798399;
  border-radius: 20px 0 0 20px;
  background-color: #798399;
  flex: 1;
  h3 {
    display: flex;
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    text-transform: uppercase;
    color: white;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  p {
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    text-align: right;
    margin-right: 2rem;
  }

  input {
    display: flex;
    margin-inline: auto;
    width: 440px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgba(121, 131, 153, 1);

    text-transform: uppercase;
    color: white;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-top: 2rem;
    cursor: pointer;

    background-color: rgba(121, 131, 153, 1);
    width: 137px;
    height: 36px;
    border-radius: 40px;
    border: 1px solid white;

    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
  }
}

.pool {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    color: white;
  }
}

/* stake two */

.stake-two {
  background-color: rgba(121, 153, 130, 1);
  flex: 1;
  height: 367px;

  h3 {
    display: flex;
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    text-transform: uppercase;
    color: white;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  p {
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    text-align: right;
    margin-right: 2rem;
  }

  input {
    display: flex;
    margin-inline: auto;
    width: 440px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgba(121, 153, 130, 1);

    text-transform: uppercase;
    color: white;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-top: 2rem;
    cursor: pointer;

    background-color: rgba(121, 153, 130, 1);
    width: 137px;
    height: 36px;
    border-radius: 40px;
    border: 1px solid white;

    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
  }
}

/* stake three */

.stake-three {
  border: 1px solid #f3ce8c;
  border-radius: 0px 20px 20px 0px;
  background-color: #f3ce8c;
  height: 367px;
  flex: 1;
  text-transform: uppercase;
  h3 {
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  h4 {
    font-size: 20px;
    font-weight: 800;
    line-height: 45px;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
  }
}

.stake-three-part {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
